<div class=" pb-15 pt-25" id="hero-section">
    <!-- Can change colour here -->
  <div class="flex md:flex-row flex-col justify-center p-6 md:w-2/3 sm:w-1/1 mx-auto gap-1">
    <div class="flex flex-col gap-0">
      <h3 class="font-sans text-2xl text-bold">{{ info().greeting }}</h3>
      <h2 class="font-sans text-xl text-medium font-semibold my-2">{{ info().title }}</h2>
      <p class="font-sans text-lg text-md leading-7">{{ info().spiel }}</p>
      <!-- <div class="mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="#contact-section">Contact me!</button>
      </div> -->
      <div class="flex flex-row gap-4 md:mx-0 mx-auto mt-2">
   
       
        
              <div class="w-15 h-15 text-black hover:text-orange-500">
              <a href="https://github.com/camy-code" target="_blank">
               <app-github-logo/>
              </a>
              </div>
              
            
              <div class="w-15 h-15 text-black hover:text-blue-500">
              <a href="mailto:camlikestea@gmail.com" >
                <app-email-logo/>
              </a>
              </div>

               <div class="w-15 h-15 text-black hover:text-blue-500">
              <a href="https://www.linkedin.com/in/camden-warburton-1bbb66333/" >
                <app-linkdin-logo/>
              </a>
              </div>

        
      
      </div>
    </div>
    <img [src]="info().imgURL" [alt]="info().altIMG" class="h-auto max-w-225 w-100 rounded-xl mx-auto" />
  </div>
</div>
