<div id="certificates-section" class="mb-20 pt-20 pb-10">
  <h2 class="text-center text-semibold text-2xl">Certificates</h2>
  <h3 class="text-center text-lg">Some learning I have done</h3>
  <div class="flex md:flex-row flex-col   w-3/4 max-w-[825px] mx-auto gap-4 justify-center mt-3">
    @for (item of infoArr(); track $index) {
      <app-certificate-card [info]="item" />

   
    }
    <!-- TODO if you have more then 3 certs then you will have to repeat the above for loop so things are clean -->
  </div>
</div>
