<div
  id="card"
  [ngClass]="{'bg-gray-100':isHovered, 'bg-white':!isHovered }"
  class="relative flex md:flex-row flex-col w-3/4  max-w-[825px] rounded-xl border-2 mx-auto"
  (mouseenter)="onHover(true)"
  (mouseleave)="onHover(false)"
 
>
  <img [src]="info().imgURL" [alt]="info().altIMG" class="md:w-[50%] w-[90%] mx-auto rounded-xl p-1" />
  <div id="word" class="flex flex-col pl-5 md:w-[45%] w-[90%] grow">
    <h3 class="text-center text-xl m-1">{{ info().title }}</h3>
    <p class="text-md">{{ info().desc }}</p>
    <div id="tech_part" class="flex flex-row gap-3">
      @for (item of info().techUsed; track $index) {
        <div>{{ item.title }}</div>
      }
    </div>
    <p 
    class="text-blue-500 underline" 
    [ngClass]="{'invisible':!isHovered}"> <a [href]="info().demoURL" target="_blank">View Demo</a></p>
    <!-- TODO make this better -->
  </div>
</div>
